@import 'src/styles/utils/custom-variables';

.header {
  box-shadow: 0px 0px 20px $shadow-color;
  z-index: 1;

  &__content {
    height: 75px;
    align-items: center;
  }
}

.logo {
  display: flex;
  gap: 18px;
  text-decoration: none;

  &__title {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-medium-green;
  }
}
