$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1520px,
);

$btn-disabled-opacity: 0.3;

$color-font-main: #36454d;
$color-font-hover: #5f7179;
$color-font-light: #8a99a0;
$shadow-color: #00000020;

$color-white: #ffffff;
$color-light-green: #8bc34a;
$color-medium-green: #7cb342;
$color-light-grey: #c0ced4;
$color-medium-grey: #546e7a;
